@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Indie+Flower|Oswald|Wellfleet');

/* --- Components design --- */
@import url("components/svg.css");
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/card.css");
@import url("components/footer.css");


body {
  margin: 0;
}


.about-picture {
  width: 400px;
}

.about-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.wrapper-purple {
  padding: 2em 0;
  background: #562D3B;
}

.work-session {
  margin-bottom: 30px;
}

