.navbar-transparent {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.navbar-right a {
  text-decoration: none;
  font-weight: 400;
  color:#562D3B;
  border: 1px solid #562D3B;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar-right a:hover {
  background: #562D3B;
  color: #fff;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

